# Dependencies
template/node_modules

# Environment Variables
template/.env

# Logs
template/npm-debug.log

# Nuxt build
template/.nuxt

# Nuxt generate
template/dist

# Tests
## Unit
template/test/unit/coverage
## Integration
template/test/integration/videos
